# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
.sconsign.dblite

# --- VS Code ---
.vscode/
# (Optional: If you want to share launch configurations, remove the line above
# and ignore specific files inside .vscode like below:)
# .vscode/extensions.json
# .vscode/settings.json

# --- C++ Build & Output Files ---
*.exe
*.o
*.out
*.elf
*.bin
*.hex
*.map
build/
bin/
debug/

# --- OS System Files ---
.DS_Store
Thumbs.db

# Ignore Node Dependencies (Massive folders)
dashboard/gateway/node_modules/
dashboard/client/node_modules/

# Ignore React Build Outputs
dashboard/client/dist/
dashboard/client/build/

# Ignore Environment Variables (API Keys etc)
.env
.env.local